 body {
   background-color: lightblue;
}

h1{
 
 font-style: Italianno;
 
 
}
.center-header {
 text-align:center;
 color: brown;
 font-size: 80 px;
}

.left-header{
 text-align:left;
 color: black;
 font-size: 40px
}
 
