body {
   background-color: lightblue;
}

img { 
   WIDTH=150px;
   HEIGHT=100px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
h1{
 
 font-family: Italianno;
 text-align:center;
 color: brown;
 font-size: 80px;
}

 
