body {
    background-image: url("IMG_211820.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
  
   
img { 
   width: 240px;
   height: 260px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}




   

h1{
 
 font-family: Italianno;
 text-align:center;
 color: brown;
 font-size: 80px;
}

 
