body {
    background-image: url("IMG_211820.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
  
   
img { 
   width: 200px;
   height: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}




   

h1{
 
 font-family: Italianno;
 text-align:center;
 color: yellow;
 font-size: 80px;
}


h2{
  color: light blue;   
}


h3{
  color: light blue;    
}

h4{
 color: light blue; 
}
