body {
    background-image: url("IMG_211820.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
  
   
img { 
   width: 200px;
   height: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
