body {
    background-image: url("stunning-dark-background-HD.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
  
   
img { 
   width: 400px;
   height: 250px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
head{
 
 font-family: Italianno;
 text-align:center;
 color: brown;
 font-size: 150px;
}


}
h1{
 
 font-family: Italianno;
 text-align:center;
 color: brown;
 font-size: 80px;
}

h2{
 
 font-family: Italianno;
 text-align:center;
 color: brown;
 font-size: 80px;
}

   

p{
 
 font-family: Italianno;
 text-align:center;
 color: blue;
 font-size: 40px;
}






