body {
    background-image: url("jB9z5hF.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
  
   
img { 
   width: 350px;
   height: 150px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}



}
h1{
 
 font-family: Italianno;
 text-align:center;
 color: Yellow;
 font-size: 80px;
}

h2{
 
 font-family: Italianno;
 text-align:center;
 color: red;
 font-size: 60px;
}

   

p{
 
 font-family: Italianno;
 text-align:center;
 color: white;
 font-size: 30px;
}






