body {
    background-image: url("jB9z5hF.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
  
   
img { 
   width: 387px;
   height: 399px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}


h1{
 
 font-family: Italianno;
 text-align:center;
 color: White; 
 font-size: 35px;
}





h2{
 font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 150px;
    color: crimson;
	text-align: center;
}



   

p{
 
 font-family: times new roman;
 text-align:left;
 color: yellow;
 font-size: 30px;
}
iframe {
    display: block;
    width: 40%;
    height: 390px;
    margin: 0 auto;
    border: 0;
}




