body {
	background-color: #808080	;
	color: #777;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
	color: black;
}

h1 {
	font-family: 'Crete Round', serif;
	font-weight: bold;
	color: #444;
	font-size: 45px;
	margin-bottom: 20px;
}

h2 {
	font-weight: 300;
	color: #800000;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 30px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h5 {
	font-size: 15px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #02b8dd;
}

strong {
	font-weight: bold;
}

small {
	font-size: 13px;
	color: #777;
	font-style: italic;
}

.clear {
	clear: both;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}


header {
	height: 120px;
}

header h1 {
	float: left;
	margin-top: 32px;
}

header h1 .color {
	color: #02b8dd;
}

header nav {
	float: left;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 30px;
}

header nav ul li a {
	color: #444;
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin-right: 0px;
}

ul.a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li.a {
    float: left;
    border-right:1px solid #bbb;
}

li.a:last-child {
    border-right: none;
}

marquee{
color: #000000	;

}




#primary-content {
	background-color: #f8fafa;
	padding: 60px 0;
}

#primary-content h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid #02b8dd;
	padding: 0 0 20px 0;
}

#primary-content a img {
	margin: 20px 0;
}

.box {
   position: absolute;
    top: 280px;
    right: 20%;
    width: 14%;
    height: 150px;
    border: 2px solid #73AD21;
    margin: 0 auto;
    padding: 3px;
    background: #e8eced url('../images/IMG_0824.JPG') no-repeat center;

}
.text {
position: absolute;
    top: 450px;
    right: 1%;
    width: 40%;
    height: 52px;
    
    margin: 0 auto;
padding: 3px;
}	

.box1 {
   position: absolute;
    top: 280px;
    right: 15%;
    width: 16%;
    height: 150px;
    border: 2px solid #73AD21;
    margin: 0 auto;
    padding: 3px;
    background: #e8eced url('../images/FullSizeRender(1).jpg') no-repeat center;

}

.text1 {
position: absolute;
    top: 450px;
    right: 1%;
    width: 40%;
    height: 52px;
    
    margin: 0 auto;
padding: 3px;
}



.box2 {
   position: absolute;
    top: 260px;
    right: 15%;
    width: 14%;
    height: 140px;
    border: 2px solid #73AD21;
    margin: 0 auto;
    padding: 3px;
    background: #e8eced url('../images/BU logo.png') no-repeat center;

}
.text2 {
position: absolute;
    top: 400px;
    right: -11%;
    width: 40%;
    height: 52px;
    
    margin: 0 auto;
padding: 3px;
} 



.box3 {
   position: absolute;
    top: 400px;
    right: 15%;
    width: 14%;
    height: 150px;
    border: 2px solid #73AD21;
    margin: 0 auto;
    padding: 3px;
    background: #e8eced url('../images/Writing-3.JPG') no-repeat center;

}

.text3 {
position: absolute;
    top: 550px;
    right: -10%;
    width: 40%;
    height: 52px;
    
    margin: 0 auto;
padding: 3px;
}

.box4 {
   position: absolute;
    top: 280px;
    right: 15%;
    width: 14%;
    height: 145px;
    border: 2px solid #73AD21;
    margin: 0 auto;
    padding: 3px;
background: #e8eced url('../images/Christina_Rossetti_3.jpg') no-repeat center;
}
.text4 {
position: absolute;
    top: 450px;
    right: 1%;
    width: 40%;
    height: 52px;
    
    margin: 0 auto;
padding: 3px;
}

footer {
	padding: 60px 0;
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}
