body {
	background-image: url('../images/blue.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	 background-color: #464646;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {font-family: times new roman;
         color: yellow;
	line-height: 20px;
	margin-bottom: 20px;
}



h2 {font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif;
	font-weight: 300;
	color: yellow;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}







a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #02b8dd;
}


strong {
	font-weight: bold;
}





.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}






#hero-image {
    position:relative;
 	width:100%;
 	margin: o auto;
	text-align:center;

	height: 800px;
	padding-top: 1px;
	background: #e8eced url('../images/kirkpatrick_manifesto1.jpg') no-repeat center;
	background-size:cover;
	border-radius: 10%;
	

}

#hero-image h2 {
	margin: 180px 0 40px 0;

}






.button-1 {
	display: block;
	text-align: center;
	background: #444;
	border-radius: 3px;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto;
}

.button-1:hover {
	background-color: #02b8dd;
	color: #fff;
}

.prof {
   position: absolute;
    top: 480px;
    right: 42%;
    width: 13%;
    height: 100px;
    border: 2px solid #73AD21;
    margin: 0 auto;
    padding: 3px;
    background: #e8eced url('../images/prof.jpg') no-repeat center;

    }

.text{
	position: absolute;
    top: 630px;
    right: 30%;
    width: 40%;
    height: 52px;
    
    margin: 0 auto;
    padding: 3px;
    


}

footer {
	padding: 60px 0;
	
}

#footer-info {
	width: 380px;
	float: left;
	margin-top: 10px;
}


